.add_button{
    background-color: #019267;
    color: white;
}

.add_button:hover{
    color:#B4C6A6;
}

.gambar_button{
    background-color: #001E6C;
    color: white;
}

.tiket_button{
    background-color: #65C18C;
    color: white;
}

.fasilitas_button{
    background-color: #F7D716;
    color: white;
}

.item_button{
    background-color: #A3423C;
    color: white;
}

.jadwal_button{
    background-color: #CDDEFF;
    color: white;
}


.detail_button{
    background-color: #FF8C32;
    color: white;
}

.accept_button{
    background-color: #019267;
    color: white;
}

.edit_button{
    background-color: #00AFC1;
    color: white;
}

.delete_button{
    background-color: #FC4F4F;
    color: white;
}

.readmore_button{
    background-color: #516BEB;
    color: white;
}

.sidebar-item:hover{
background-color:  #019267 !important;
border-radius: 20px;
}

.sidebar-item a:hover{
    color: white !important;
}

.sidebar-item:checked{
    background-color: blue !important;
}

.error {
    color: red;
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.dataTables_wrapper {
    font-size: 14px;
    position: relative;
    color: black;
}

@media (max-width: 767.98px) { 
    .btn_aksi{
        margin: 5px;
    }
}